@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
    font-family: 'BerlinSansFBDemiBold';
    src: url('../../fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf');
}

@font-face {
    font-family: 'Berlin Sans FB';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB'), url('../../fonts/BerlinSansFBWebfont/BRLNSR.woff') format('woff');
}

@font-face {
    font-family: 'Berlin Sans FB Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Berlin Sans FB Bold'), url('../../fonts/BerlinSansFBWebfont/BRLNSB.woff') format('woff');
}